@import url(http://fonts.googleapis.com/css?family=Advent+Pro:500,300);
@import url(http://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: yellow;
  color: black; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  position: relative;
  padding: 4em 20px 3em; }
  .header > div,
  .header > h1 {
    width: 11.5em;
    margin: auto; }

.main,
.footer,
.row {
  position: relative;
  padding: 3em; }
  .main > div,
  .main > p,
  .main > h3,
  .footer > div,
  .footer > p,
  .footer > h3,
  .row > div,
  .row > p,
  .row > h3 {
    width: 80%;
    margin: auto; }

.footer {
  margin-top: 3em;
  text-align: center;
  background: #cacaca;
  color: black;
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: italic; }

.generic a {
  color: #5ea000; }
.generic .header {
  background: #77ca00; }
.generic h1 {
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 500%;
  color: white;
  margin-bottom: 0.7em;
  margin-top: 0.3em; }
.generic .page {
  background: white; }
.generic .banners {
  position: relative;
  overflow: auto;
  line-height: 290px;
  height: 290px;
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 500%;
  color: white; }
  .generic .banners i {
    width: 295px;
    height: 285px;
    display: block; }
  .generic .banners .noPhone {
    margin-right: 125px;
    float: right;
    background: url(images/noPhone.png) center center no-repeat; }
  .generic .banners .noContract {
    margin-left: 125px;
    float: left;
    background: url(images/noContract.png) center center no-repeat; }
.generic .main {
  color: #444444;
  text-align: center;
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-size: 100%;
  font-style: normal; }
  .generic .main .content {
    text-align: justify;
    max-width: 35em; }
  .generic .main strong {
    font-weight: normal;
    font-size: 120%; }
  .generic .main h3 {
    margin: 1em auto;
    font-family: "Noticia Text", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 210%;
    text-align: center; }
.generic .services {
  position: relative; }
  .generic .services a {
    display: block;
    margin: 2em auto;
    width: 15em;
    padding: 10px 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    background: #77ca00; }
    .generic .services a:hover {
      border: 2px solid #77ca00;
      background: white;
      color: #77ca00; }

html {
  font-size: 16px; }

@media screen and (min-width: 1400px) {
  html {
    font-size: 18px; } }
.three a {
  color: #3a6459; }
.three h1, .three .headerRow {
  width: 45em;
  max-width: 1070px; }
.three h1 {
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 500%;
  color: white;
  font-size: 300%;
  margin-bottom: 0.7em;
  margin-top: 0.3em; }
.three .header {
  background: #32ae8c;
  padding-bottom: 0; }
.three .page {
  background: white; }
.three .headerRow {
  overflow: auto;
  position: relative;
  margin: 1em auto;
  min-height: 340px; }
  .three .headerRow .content {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 140%;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.2;
    color: white;
    padding: 100px 0 30px 290px;
    margin: 10px;
    margin-left: 60px;
    display: inline-block;
    width: 15em; }
    .three .headerRow .content a {
      margin: 30px 0px;
      border: 3px solid white;
      background: white;
      color: #32ae8c;
      text-decoration: none;
      padding: 8px 12px;
      display: inline-block; }
      .three .headerRow .content a:hover {
        background: #32ae8c;
        color: white; }
  .three .headerRow .illustration {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 336px;
    width: 308px;
    background: url(images/manAngryPhone.png) no-repeat bottom center; }
.three .row {
  margin: 5em auto;
  color: #444444;
  text-align: center;
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-size: 100%;
  font-style: normal; }
  .three .row .illustration {
    position: absolute;
    left: 0px;
    width: 400px; }
  .three .row .container {
    position: relative;
    width: 45em;
    max-width: 1070px; }
  .three .row .content {
    margin-left: 355px;
    text-align: left;
    max-width: 21em; }
    .three .row .content li {
      list-style-type: square; }
  .three .row strong {
    font-weight: normal;
    font-size: 120%; }
  .three .row h3 {
    margin: 1em auto;
    font-family: "Noticia Text", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 210%;
    text-align: center; }
  .three .row.whatYouGet {
    background: #444444;
    color: white; }
    .three .row.whatYouGet .container {
      min-height: 300px; }
    .three .row.whatYouGet .illustration {
      height: 300px;
      bottom: 20px;
      background: url(images/coins.png) no-repeat center center; }
  .three .row .payForm {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 110%;
    text-align: left;
    color: #444444;
    width: 21em;
    margin: 40px auto; }
    .three .row .payForm h3 {
      color: #32ae8c; }
    .three .row .payForm .formRow {
      margin: 10px;
      position: relative;
      overflow: auto; }
      .three .row .payForm .formRow label {
        float: left; }
      .three .row .payForm .formRow input {
        float: right; }
    .three .row .payForm label {
      color: #3a6459; }
    .three .row .payForm input[type=text] {
      border: 3px solid #cacaca;
      padding: 3px 8px;
      color: #444444; }
  .three .row .payButton {
    margin: 68px auto 0px;
    background: #32ae8c;
    text-align: center;
    width: 380px;
    padding: 10px;
    height: 40px; }

html {
  font-size: 16px; }

@media screen and (min-width: 1400px) {
  html {
    font-size: 18px; } }
