{% extends "layout.html" %}
{% block body %}
  <div class="header">
    <h1>{{ title }}</h1>
  </div>

  <div class="main">

    <h3>Just Bloody Cancel - making escaping easy</h3>
    <div class="content">

      <p>Just Bloody Cancel has a mission - to make it clear to companies cancellation needs to be as easy as signing up for a service. By making it quick and easy to send a recorded cancellation letter that companies are legally obliged to abide we let you side-step unethical company's cancellation policies.</p>

      <p>No more hold music. No more paying for 'free' numbers on your mobile. Just quick, easy escape from your rolling contracts.</p>

      <p>
        If have a contract you'd like get out of <a href="mailto:iwanttocancel@justbloodycancel.co.uk">tell us</a> and we'll look at helping you out!
      </p>

      <h2>Who are we?</h2>

      <p>Two people who decided to do something about frustrating cancellation policies. After waiting on the phone for 25 minutes to cancel a mobile broadband contract, a conversation began that led us to this idea.</p>

      <p><a href="http://twitter.com/camsmorgan">Campell Morgan</a></p>
      <p><a href="http://twitter.com/timruffles">Tim Ruffles</a></p>

    </div>

  </div>

{% endblock %}
