{% extends "layout.html" %}
{% block body %}
  <div class="header">
    <h1>{{ title }}</h1>
  </div>

  <div class="main">

    <div class="content">

      <p>
        Great - we'll now send you an email with a link to capture your signature. That's the last thing we need and your contract is as good as cancelled!
      </p>

      <p>
        If you have any questions <a href="mailto:iwanttocancel@justbloodycancel.co.uk">get in touch</a> or <a href="http://twitter.com/bloodycancel">tweet us</a> and we'll give you a hand!
      </p>


    </div>

  </div>

{% endblock %}
